@import "../../styles.scss";

.plan-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    gap: 1rem;
    .option{
        border: 1px solid $lightGray;
        border-radius: 10px;
        padding: 1rem;
        width: 140px;
        cursor: pointer;
        transition: border 0.2s;
        &:hover{
            border: 1px solid $purplishBlue;
        }
        img{
            margin-bottom: 3rem;
        }
        p{
            margin: .4rem;
        }
        .planName{
            font-weight: 500;
            font-size: 18px;
            color: $marineBlue;
        }
        .planFee{
            color: $coolGray;
        }
        .last-paragraph{
            color: $marineBlue;
            font-size: 13px;
        }
    }
    .plan-active{
        background-color: $magnolia;
        border: 1px solid $purplishBlue;
    }
    
}

            // stitch section style
.switch-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $magnolia;
    border-radius: 10px;
    span{
        font-weight: 500;
    }
    
}

.coolGray{
    color: $coolGray;
}
.marineBlue{
    color: $marineBlue;
}


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin: .5rem;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $marineBlue;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
.error {
    font-weight: 600;
    color: $strawberryRed;
    text-align: center;
}
@media screen and (max-width: 900px) {
    .plan-options{
        gap: 0.5rem;
        justify-content: center;
        .option{
            padding: 0.5rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .select-plan-container{
        width: 100%;
        margin: 0 auto;
        background-color: $white;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0px 5px 10px $lightGray;
    }
    .plan-options{
        flex-direction: column;
        margin: 1rem 0;
        .option{
            display: flex;
            width: 100%;
            img{
                margin-bottom: 0;
            }
            .mobile_width_container{
                margin-left: 1rem;
            }
        }
    }
    .error{
        margin: 0.1rem;
    }
}