<div class="sidebar">
    <div class="steps-container">
        <app-sidebar-steps *ngIf="ps.page === 1"  active="active-number"  [number]=1 detail="YOUR INFO"></app-sidebar-steps>
        <app-sidebar-steps *ngIf="ps.page !== 1"  [number]=1 detail="YOUR INFO"></app-sidebar-steps>

        <app-sidebar-steps *ngIf="ps.page === 2" active="active-number"  [number]=2 detail="SELECT PLAN"></app-sidebar-steps>
        <app-sidebar-steps *ngIf="ps.page !== 2" [number]=2 detail="SELECT PLAN"></app-sidebar-steps>

        <app-sidebar-steps *ngIf="ps.page === 3" active="active-number"  [number]=3 detail="ADD-ONS"></app-sidebar-steps>
        <app-sidebar-steps *ngIf="ps.page !== 3" [number]=3 detail="ADD-ONS"></app-sidebar-steps>

        <app-sidebar-steps *ngIf="ps.page >= 4" active="active-number"  [number]=4 detail="SUMMARY"></app-sidebar-steps>
        <app-sidebar-steps *ngIf="ps.page < 4"  [number]=4 detail="SUMMARY"></app-sidebar-steps>
    </div>
</div>
