@import "../../styles.scss";

.sidebar-step{
    display: flex;
    margin-bottom: 1.5rem;
}
.sidebar-number{
    font-size: 16px;
    height: 1rem;
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border: 1px solid $white;
    border-radius: 50%;
    color: $white;
    margin-right: 1rem;
}
.sidebar-details{
    display: flex;
    flex-direction: column;
    small{
        color: $coolGray;
        font-weight: 400;
    }
    span{
        color: $white;
    }
}