@import "../../styles.scss";

.sidebar-step{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.sidebar-number{
    font-size: 16px;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border: 1px solid $white;
    border-radius: 50%;
    color: $white;
    margin-right: 1rem;
    font-weight: 500;
}
.active-number{
    color: $marineBlue;
    background-color: $lightBlue;
    border: none;
}
.sidebar-details{
    display: flex;
    flex-direction: column;
    small{
        color: $lightGray;
        font-weight: 400;
    }
    span{
        color: $white;
    }
}

@media screen and (max-width: 600px) {
    .sidebar-details{
        display: none;

    }
}